/dist
/tmp
/bazel-out
/node_modules
/libpeerconnection.log
npm-debug.log
chrome-profiler-events*.json
speed-measure-plugin*.json
.classpath
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.c9/
.project
yarn-error.log
testem.log
.now
.github
/typings
/.sass-cache
/connect.lock
/coverage
/out-tsc


