language: node_js
node_js:
  - "stable"
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
cache:
  directories:
  - node_modules
script: npm run export
deploy:
  provider: script
  script: npm run now-deploy
  skip_cleanup: true
  local_dir: dist
  on:
    branch: master
after_script:
  - bash -c "$(curl -fsSL https://raw.githubusercontent.com/MaT1g3R/travis_discord/master/travis.sh)"
  
